<div class="skills-container">
    <div class="prt_heading">
        <h1 class="timeline-heading" style="font-weight: bolder;">Skills 🚀</h1>
    </div>
    <div class="skills-grid">
        <div class="skills-item">
            <h3>Design</h3>
            <p>UI/UX | Logo | Prototyping</p>
        </div>
        <div class="skills-item">
            <h3>Web Development</h3>
            <p>Angular | React</p>
        </div>
        <div class="skills-item">
            <h3>Android Development</h3>
            <p>Jetpack Compose | Architecture Component</p>
        </div>
        <div class="skills-item">
            <h3>Cross Platform Development</h3>
            <p>Flutter | Jetbrain Compose</p>
        </div>
    </div>
</div>